<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.ncts.model.User"/>
        <mapping class="com.ncts.model.Role"/>
    
        <mapping class="com.ncts.model.NctsApplication"/>
        <mapping class="com.ncts.model.NctsElecidentify"/>
    
        <mapping class="com.ncts.model.NctsUser"/>
    </session-factory>
</hibernate-configuration>